  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;800&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100&display=swap');

*{
    margin: 0;
}

body{
    width: 100vw;
    min-height: 100vh;
    background-color: gray;
    display:flex;
    flex-flow: row;
}

#izquierda{
    width: 50vw;
    min-height: 100vh;
    background-color: darkblue;
    background-image: url(./opcionesImagenes/viego.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: all 1s ease;
}

#filtro-izquierda{
    width: 50vw;
    min-height: 100vh;
    position:absolute;
    background-color: rgb(0, 0, 255,0.1); 
    cursor:pointer;
    transition: all 0.5s ease;
    z-index: 3;
}

#izquierda-hitbox{
    width: 50vw;
    min-height: 100vh;
    position:absolute;
    background-color: rgb(0, 0, 255,0.0); 
    cursor:pointer;
    transition: all 0.5s ease;
    z-index: 4;
}

#filtro-izquierda:hover{
    background-color: rgb(0, 0, 255,0.15);
}

#wrapper-izq, #wrapper-der{
    width: 50vw;
    height: 100vh;
    overflow: hidden;
}

#derecha{
    width: 50vw;
    max-width: 50vw;
    overflow: hidden;
    min-height: 100vh;
    background-color: darkred;
    background-image: url(./opcionesImagenes/kayn.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: all 1s ease;
}

#filtro-derecha{
    width: 50vw;
    min-height: 100vh;
    position:absolute;
    background-color: rgb(255, 0, 0, 0.1); 
    margin-left: 50vw;
    cursor:pointer;
    transition: all 0.5s ease;
    z-index: 3;
}

#derecha-hitbox{
    width: 50vw;
    min-height: 100vh;
    position:absolute;
    background-color: rgb(255, 0, 0, 0.0); 
    margin-left: 50vw;
    cursor:pointer;
    transition: all 0.5s ease;
    z-index: 4;
}

#filtro-derecha:hover{
    background-color: rgb(255, 0, 0, 0.15);
}



div h3{
    font-family: Montserrat, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color:rgb(235, 235, 235);
    background-color: rgb(15, 15, 15,0.85);
    box-shadow: black 0px 0px 30px;
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid rgb(235, 235, 235,0.1);
    z-index: 3;
    cursor: pointer;
    transition: all 0.5s ease;
    position: absolute;
    user-select: none;
    max-width: 25vw;
    text-align: center;
}

#pregunta-wrapper{
    position: absolute;
    width: 30vw;
    height: fit-content;
    border: 3px solid rgb(235, 235, 235,1);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
    z-index: 5;
    background-color: rgb(15, 15, 15,0.8);
    border-radius: 10px;
    display:none;
    transition: all 0.5s ease;
}

#pregunta{
    font-family: Montserrat, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color:rgb(235, 235, 235);
    padding: 0.5rem;
    user-select: none;
    z-index: 3;
    cursor:default;
    transition: all 0.5s ease;
    text-align: center;
}

div h3:hover{
    font-size: 2.3rem;
    color: rgb(235, 235, 235);
    border: 3px solid rgb(235, 235, 235);
    box-shadow: white 0px 0px 30px;
    background-color: rgb(130, 130, 130);
}

/*
div h3:hover{
    font-size: 2.3rem;
    color: rgb(235, 235, 235);
    border: 3px solid rgb(235, 235, 235);
    box-shadow: white 0px 0px 30px;
    background-color: rgb(130, 130, 130);
}
*/

.h3-hover{
    font-size: 2.3rem;
    color: rgb(235, 235, 235);
    border: 3px solid rgb(235, 235, 235,0.1);
    box-shadow: white 0px 0px 30px;
    background-color: rgb(130, 130, 130);
}

#start-grayfilter{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgb(40, 40, 40, 0.7);
    z-index: 10;
    display: flex;
    transition: all 0.5s ease;
}

#playlogo{
    width: 60px;
    text-align: end;
    font-size: 4rem;
    cursor:pointer;
    color: white;
    transition: all 0.5s ease;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.playlogo-hover{
    color:gray;
}

@keyframes playlogoanim{
    0%{
        scale: 1.0;
    }
    50%{
        scale:1.1;
    }
    100%{
        scale:1.0;
    }
}
.playlogo-wrapper{
    width: 4rem;
    margin: auto;
    align-self: center;
    padding: 3.5rem;
    background-color: white;
    border-radius: 50%;
    border: 6px solid white;
    color: white;
    background-color: #121212;
    box-shadow: 0 0 20px 2px white;
    cursor:pointer;
    transition: all 0.5s ease;
}

.playlogo-hitboxhover{
    box-shadow: 0 0 50px 12px white;
    border: 6px solid gray;
}

#playlogo-hitbox{
    background-color: rgb(255, 0, 0,0);
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    position:fixed;
    align-self:center;
    justify-self: center;
    right:0;
    left:0;
    margin-right:auto;
    margin-left:auto;
    cursor: pointer;
    z-index: 5;
}

#triveyelogo{
    position: absolute;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    filter: drop-shadow();
    top: 30px;
    max-width: 100vw;
}

#contador{
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: white;
    padding: 1rem 1.5rem;
    background-color: rgb(15, 15, 15,0.8);
    position: absolute;
    z-index: 5;
    left:0;
    right:0;
    top: 17px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-radius: 10px;
    border: 3px solid rgb(235, 235, 235,1);
    user-select: none;
    display: none;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    transition: all 0.5s ease;
}

@keyframes contadorCorrecto{
    20%{
        border: 3px solid green;
        color: green;
    }
    80%{
        border: 3px solid green;
        color: green;
    }
}

@keyframes contadorIncorrecto{
    20%{
        border: 3px solid red;
        color: red;
    }
    80%{
        border: 3px solid red;
        color: red;
    }
}

.htmlshake{
    animation-name: shake;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


@keyframes shake {
    15%{
        transform: translateX(45px);
    }
    30%{
        transform: translateX(-45px);
    }
    45%{
        transform: translateX(25px);
    }
    60%{
        transform:translateX(-25px);
    }
    75%{
        transform: translateX(0);
    }
}


#highscore-wrapper{
    position: absolute;
    left:0;
    right:0;
    margin-left: auto;
    margin-right:auto;
    width: max-content;
    top: 65vh;
    
}

#highscore-titulo{
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    background-color: #333;
    border-radius: 10px 10px 0 0;
    padding: 0.5rem;
    user-select: none;
    width: max-content;
    margin: auto;
    z-index: 16;
}

#highscore-contador{
    color: white;
    font-family:  Montserrat, sans-serif;
    font-size: 6rem;
    text-align: center;
    padding: 0.5rem 2rem;
    background-color: #121212;
    user-select: none;
    border-radius: 10px;
    border: 2px solid white
}


@media (max-width:800px){
    #contador{
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        height: fit-content;
        margin-right: 5vw;
    }

    #pregunta-wrapper{
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5vw;
        width: unset;
        margin-right: calc(10vw + 92px);
    }

    #wrapper-izq{
        width: 100vw;
        height: 50svh;
    }

    #izquierda{
        width: 100vw;
        max-width: 100vw;
        height: 50vh;
        max-height: 50svh;
        min-height: 50svh;
    }

    #filtro-izquierda{
        width: 100vw;
        min-height: 50svh;
    }

    #filtro-derecha{
        width: 100vw;
        min-height: 50svh;
        margin-left: 0;
        top: 0;
        bottom: 0;
        margin-top: 50svh;
    }

    #derecha{
        width: 100vw;
        max-width: 100vw;
        height: 50vh;
        max-height: 50svh;
        min-height: 50svh;
    }

    #wrapper-der{
        width: 100vw;
        height: 50vh;
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: 50svh;
    }

    div h3{
        max-width: 80vw;
    }
}

@media (max-height:880px){
    #triveyelogo{
        top: 0;
    }
}

@media (max-width:600px){
    #pregunta{
        font-size: 1.5rem;
    }
}

@media (max-width:600px){
    div h3{
        font-size: 1.5rem;
    }
}

@media (max-width:400px){
    #pregunta{
        font-size: 1.2rem;
    }
    #contador{
        font-size: 3rem;
    }
}